.footer-bg{
    background-color: rgb(231, 164, 51);
}

.item-div{
    background-color: rgb(235, 233, 236);
}
.item-bg{
    background-color: rgb(92, 92, 241);
    
}

.cart-img {
    background-image: url("resource/cartico.svg");
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}